div {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 5px;
  padding: 15px;
}


#div1 {
  background-color: #6b7886d0; 
  color: white;
}

#div2 {
  background-color: #e7e4bac9; 
}

main{
  padding-bottom: 15px;
}